/* Estilos para el encabezado */
header {
background-color: #333;
color: #fff;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

/* Estilos para el título del encabezado */
header h1 {
margin: 0;
font-size: 2em;
text-transform: uppercase;
}

/* Estilos para la navegación */
nav {
background-color: #f2f2f2;
padding: 10px;
}

/* Estilos para los elementos de la lista de navegación */
nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
}

nav li {
margin: 0 10px;
}

nav a {
color: #333;
display: block;
padding: 10px;
text-decoration: none;
font-weight: bold;
}

nav a:hover {
background-color: #333;
color: #fff;
}

/* Estilos para la sección */
section {
margin: 20px 0;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

section h2 {
font-size: 2em;
margin-bottom: 20px;
}

section p {
font-size: 1.2em;
line-height: 1.5;
}

/* Estilos para el pie de página */
footer {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}

footer p {
margin: 0;
font-size: 1.2em;
}

footer a {
color: #fff;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}
